.mls {
  margin-left: 6.7rem;
}

.fml {
  margin-left: 10rem;
}

textarea {
  height: 120px !important;
  resize: none;
}

@media only screen and (max-width: 280px) {
  .mls {
    margin-left: 6.7rem;
  }

  .fml {
    margin-left: 10rem;
  }
}

@media only screen and (min-width: 768px) {
  textarea {
    width: 65% !important;
    margin: 0 auto;
    height: 190px !important;
  }

  label {
    margin-left: 116px;
  }
}

@media only screen and (min-width: 992px) {
  textarea {
    width: 65% !important;
    margin: 0 auto;
    height: 190px !important;
  }

  label {
    margin-left: 190px;
  }
}
